In [1]:
! conda pandas

usage: conda-script.py [-h] [-v] [--no-plugins] [-V] COMMAND ...
conda-script.py: error: argument COMMAND: invalid choice: 'pandas' (choose from 'activate', 'deactivate', 'clean', 'compare', 'config', 'create', 'env', 'export', 'info', 'init', 'install', 'list', 'notices', 'package', 'remove', 'uninstall', 'rename', 'run', 'search', 'update', 'upgrade', 'content-trust', 'doctor', 'repoquery')

In [20]:
import pandas as pd
import numpy as np

In [15]:
x=pd.DataFrame({"Number":[ i for i in range (0,10)],
                "Sqaure": [ i ** 2 for i in range (0,10)]})

In [16]:
x

   Number  Sqaure
0       0       0
1       1       1
2       2       4
3       3       9
4       4      16
5       5      25
6       6      36
7       7      49
8       8      64
9       9      81

In [22]:
x["Type"]= np.where(x["Number"]%2==0 ,"Even","Odd")

In [ ]:
Hweij

SyntaxError: invalid syntax (1077664663.py, line 1)